@charset "utf-8";
/* CSS Document */

body {
	background-color: lightyellow;
	
}
h1 {
	font-family: bebas neue;
	font-size: 3em;
	color: lightcoral;
}

h2 {
	font-family: bebas neue;
	color: lightslategray;
}

li {
	font-family: bebas kai;
	font-weight: 100;
	color: dimgrey;
}

ul {
	font-family: bebas kai;
	font-weight; 100;
	color: darkslategray;
}